<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpadsz.ssm.dao.ListCauseDao">

    <insert id="saveOne" parameterType="DListCause">
        INSERT ignore INTO list_black_cause(blacklist_id,cause) VALUES(#{listId},#{cause});
    </insert>
</mapper>
