<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="record">

    <select id="perYear" parameterType="string" resultType="map">
        SELECT
            DATE_FORMAT(create_time, '%Y') perYear,
            trade_type,
            ROUND(SUM(money) ,2) total
        FROM
            alipay_record
        WHERE
            create_time >= DATE_SUB('2019-01-01', INTERVAL 5 YEAR)
        AND trade_type in ('支出','收入')
        <if test="account!=null and account!=''">
            AND  account=#{account}
        </if>
        GROUP BY perYear,trade_type
        ORDER BY perYear
    </select>

    <select id="perMonth" parameterType="string" resultType="map">
       SELECT
            trade_type,
            date_format(create_time, '%Y-%m') perMonth,
            ROUND(SUM(money) ,2) total
        FROM
            alipay_record
        WHERE
            trade_type in('收入','支出')
        AND create_time BETWEEN date_sub(#{startTime},interval 12 month) AND #{endTime}
        <if test="account!=null and account!=''">
            AND  account=#{account}
        </if>
        GROUP BY trade_type,perMonth
        ORDER  BY perMonth
    </select>

    <select id="yearIncome" parameterType="string" resultType="map">
        SELECT
            DATE_FORMAT(create_time, '%Y') perYear,
            trade_type,
            CONVERT(SUM(money) ,DECIMAL(10,2)) total
        FROM
            alipay_record
        WHERE
            create_time >= DATE_SUB('2019-01-01', INTERVAL 5 YEAR)
        AND trade_type ='收入'
        GROUP BY perYear,trade_type
        ORDER BY perYear
    </select>

    <select id="yearExpend" parameterType="string" resultType="map">
        SELECT
            DATE_FORMAT(create_time, '%Y') perYear,
            trade_type,
            CONVERT(SUM(money) ,DECIMAL(10,2)) total
        FROM
            alipay_record
        WHERE
            create_time >= DATE_SUB('2019-01-01', INTERVAL 5 YEAR)
        AND trade_type ='支出'
        GROUP BY perYear,trade_type
        ORDER BY perYear
    </select>

    <select id="monthIncome" parameterType="string" resultType="map">
        SELECT
            trade_type,
            date_format(create_time, '%Y-%m') perMonth,
            CONVERT(SUM(money) ,DECIMAL(10,2)) total
        FROM
            alipay_record
        WHERE
            trade_type = '收入'
        AND create_time BETWEEN date_sub(#{startTime},interval 12 month) AND #{endTime}
        GROUP BY perMonth ORDER BY perMonth
    </select>

    <select id="monthExpend" parameterType="string" resultType="map">
        SELECT
            trade_type,
            date_format(create_time, '%Y-%m') perMonth,
            CONVERT(SUM(money) ,DECIMAL(10,2)) total
        FROM
            alipay_record
        WHERE
            trade_type = '支出'
        AND create_time BETWEEN date_sub(#{startTime},interval 12 month) AND #{endTime}
        GROUP BY perMonth ORDER BY perMonth
    </select>
</mapper>
