#resText{
    margin-top: 20px;
}
.small {
    float: left;
    width: 400px;
    height: 400px;
    margin-left: 20px;
}

.year {
    float: left;
    width: 900px;
    height: 400px;
}

.month {
    float: left;
    width: 900px;
    height: 400px;
}

.search {
    clear: both;
    margin-right: 8%;
    text-align: right;
    width: 800px;
    float: right;
    /*margin-right: 5%;*/
}
